$contentBackground: #fff;
$headerBackground: url(/Users/an/Documents/EPAM/fl-16/FL16_HW3/homework/img/m-h-day.jpg) 100%;
$fontFamily: 'Source Sans Pro', sans-serif;
$logoFont: 'Source Sans Pro', sans-serif;
$blocksFooterColor: #21232E;
$textColorHeader: black; 
$buttonBgColor: #469b49;
$buttonHoverColor: (hover-color: #6e996f, background-color: #424242);
$bannerBackground: linear-gradient(90deg, rgba(82,212,16,1) 0%, rgba(32,15,189,1) 100%);
$textColorFooter: #fff;
$sectionTextColor: black;
$hoverTextColor: #177cff;